//line next to titles
%line{
    content: "";
    display:block;
    width: 100px;
    height: 2px;
    background: rgb(246, 207, 110);
    position: absolute;
    top: 50%;
}

%dots{
    flex-grow: 1;
    content: "";
    background-image: url(../img/dots.png);
    background-repeat: repeat-x;
    display: block;
    margin-top: 10px;
    
}