@import "../../../../../SCSS/utilities/extends.scss";
.divSP{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    gap: 80px;
    .divStartersSides{
        
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        h5{
            font-size: 27px;
            text-transform: uppercase;
            font-family: 'Jost', sans-serif;
            color: #ffffff;
            font-weight: 600;
            border-bottom: 2px solid rgb(246, 207, 110);
            width: fit-content;
        }
        .menuItem{
            display: flex;
            gap: 10px;
            align-items: center;
            .menuImg{
                width: 75px ;
                border-radius: 50%;
            }
            div{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: space-between;
                justify-content: space-between;
                position: relative;
                p{
                    &:first-of-type{
                        width:fit-content;
                        margin: 0;
                        color: #e6e6e6;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-family: 'Jost', sans-serif;
                        position: relative;
                        margin-right: 10px;
                    }
                }
                span{
                    @extend %dots;

                }
                
                .price{
                    padding-left: 10px;
                    font-weight: 600;
                    
                    color: white;
                }
            }
            

        }
    }
}